@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}
body {
  background-color: black;
}
.nav {
  height: 50px;

  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.n1 {
  display: flex;
  gap: 25px;
  align-items: center;
}
.logo,
.home,
.mMenu {
  border-radius: 50px;
  height: 40px;
  width: 40px;
}
.logo > img,
.mMenu > img {
  object-fit: cover;
  height: 100%;
}
.mMenu {
  display: none;
}

.home:hover {
  transform: scale(110%);
  transition-duration: 0.3s;
}
.searchbox,
.search {
  background-color: rgb(43, 43, 43);
  height: 40px;
  width: 450px;
  border: none;
  border-radius: 50px;
  padding: 5px;
  font-size: 15px;
  color: grey;
}
.searchbox:hover {
  background-color: rgb(51, 51, 51);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.search:hover {
  background-color: rgb(51, 51, 51);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  border: 0.5px solid white;
}
.xtras {
  display: flex;
  gap: 25px;
  align-items: center;

  color: white;
}
.xtras > p {
  font-size: 15px;
  font-weight: 600;
}
.xtras > p:hover {
  /* font-size: 16px; */
  transition-duration: 0.3s;
  transform: scale(110%);
}
.xtras > button {
  height: 40px;
  width: 100px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 600;
}
.xtras > button:hover {
  transform: scale(110%);
  transition-duration: 0.3s;
}
.mBody {
  width: 100%;

  display: flex;
  gap: 15px;
  padding-top: 0;
}
.library {
  max-width: 50vh;
  background-color: rgb(18, 18, 18);
  color: white;
  border-radius: 5px;
  padding: 18px;
  z-index: 1;
  height: 100%;
}
.mPage {
  background-color: rgb(18, 18, 18);
  width: 70vw;
  border-radius: 5px;
  margin: 0 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}
.mPage > h3 {
  margin: 30px;
  font-size: 22px;
  color: white;
}
.library > p {
  font-size: 20px;
  font-weight: 600;
}
.playlist {
  background-color: rgb(31, 31, 31);
  border-radius: 5px;
  min-width: 44vh;
  gap: 10px;
  padding: 18px;
  margin-top: 30px;
}
.playlist > h5 {
  font-size: 19px;
  font-weight: 600;
}
.playlist > p {
  font-size: 14px;
  margin-top: 10px;
}
.playlist > button {
  height: 35px;
  width: 135px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
}
.playlist > button:hover {
  transform: scale(110%);
  transition-duration: 0.3s;
}
.cred {
  min-width: 51vh;
  padding: 18px;
  margin-top: 30px;
  color: gray;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 20px;
  font-size: 12px;
}
.lang {
  height: 35px;
  width: 100px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  border: 1px solid white;
}
.lang:hover {
  transform: scale(110%);
  transition-duration: 0.3s;
}
.trSongs {
  display: flex;
  gap: 30px;
  margin: 30px;

  margin-top: -10px;
  overflow-x: scroll;
  scrollbar-width: none;
}
.song {
  width: 175px;
  height: 270px;
  --a: 0;
  position: relative;
  border-radius: 5px;
}
.song:hover,
.art:hover {
  background-color: rgb(30, 30, 30);
  transition-duration: 0.3s;

  --a: 1;
  cursor: pointer;
}
.song > img {
  width: 155px;
  border-radius: 5px;
  margin: 10px;
}
.infor {
  margin: 10px;
  margin-top: 0;
  font-size: 14px;
}
.pArt {
  display: flex;
  gap: 30px;
  margin: 30px;
  margin-top: -10px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.img-circle {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  margin: 10px;
  object-fit: cover;
}
.art {
  width: 175px;
  height: 270px;
  --a: 0;
  position: relative;
  border-radius: 5px;
}
.invert {
  filter: invert(1);
}
/* .playc:hover {
  
} */
.playButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: greenyellow;
  position: absolute;
  bottom: 110px;
  left: 120px;
  opacity: var(--a);
  transition: 0.5s ease-in;
  justify-content: center;
  align-items: center;
}
.playButton img {
  width: 30px;
  margin: 5px;
}
.playbar {
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: rgb(34, 34, 34);
  width: 100%;
  height: 7vh;
  align-items: center;
  justify-content: space-around;
}
.songbuttons {
  max-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
}
.songbuttons > img {
  width: 30px;
  color: white;
  cursor: pointer;
}
.songList ul {
  padding: 30px;
  padding-left: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 50vh;
  scrollbar-width: none;
}
.songList ul li {
  list-style-type: decimal;
  display: flex;
  gap: 30px;
  cursor: pointer;
  padding: 10px;
  width: 95%;
  height: 78px;
  margin: 10px;
  border: 1px solid;
  border-radius: 8px;
  justify-content: space-between;
}
.songList li img {
  width: 20px;
}
.seekbar {
  background: white;
  width: 20%;
  height: 3px;
  border-radius: 10px;
  position: fixed;
  right: 50px;
  cursor: pointer;
}
.circle {
  background: white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: relative;
  bottom: 4px;
  left: 0%;
  transition: left 0.5s;
}
.songTime {
  position: fixed;
  right: 360px;
}
.songInfo {
  position: fixed;
  left: 50px;
}

@media (max-width: 1250px) {
  .mPage {
    width: 100vw;
    height: 100vh;
  }
  .library {
    position: absolute;
    left: -200%;
    max-width: 270px;
    background-color: black;
  }
  .playlist {
    min-width: 25vw;
  }
  .xtras > p {
    display: none;
  }
  .songTime {
    display: none;
  }
}
@media (max-width: 750px) {
  .logo,
  .home,
  .seekbar,
  #prev,
  #next {
    display: none;
  }
  .songbuttons,
  .songInfo {
    position: relative;
  }
  .mMenu {
    display: block;
  }
}
.search,
.searchbox {
  width: 200px;
}

@media (max-width: 450px) {
  .search,
  .searchbox {
    display: none;
  }
  .song,
  .art {
    width: 130px;
    height: 220px;
  }
  .song > img,
  .art > img {
    width: 110px;
    height: 110px;
  }
  .infor {
    font-size: 12px;
  }
  .mPage {
    margin: 0;
    border-radius: 0;
  }
  .songInfo {
    width: 170px;
  }
  .playbar {
    justify-content: space-between;
  }
  .playlist {
    display: none;
  }
  .songList ul li {
    font-size: 12px;
    height: 50px;
    width: 110px;
    margin: 10px 0;
  }
  .songList ul li img {
    display: none;
  }
}
